.content h2{
	color: red;
}
.total_summary {
	text-align: left;
	font-weight: bold;
}
.total_summary .summary {
	color: red;
	font-size: 15px;
}
.submit_order {
	float: right;
}
.export_order {
	float: right;
}
.content table tr:hover{
  cursor: auto !important;
  background-color: white !important;
}
.content ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.content li {
  border-radius: 3px;
  color: black;
  background: #eee;
  cursor: pointer;
  display: inline;
  font-weight: 200;
  margin: 10px 5px 0px 2px;
  padding: 10px;
  text-align: center;
  width: 10px;
}

.content .active {
  background: #871610;
  color: white;
}
