.add_to_orders {
	position: absolute;
	top: 0;
	right: 0;
	width: 276px;
	background-color: white;
	text-align: center;
}
.add_to_orders h5 {
	color: red;
}
#order_form label {
	border-right: 1px solid;
}
.product_lists {
	/* background-color: red; */
}
.content table tr:hover{
  cursor: auto !important;
  background-color: white !important;
}
.product_lists h4 {
	/* background-color: #CFE1C0; */
	/* color: #FA5882; */
}
.content ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.content li {
  border-radius: 3px;
  color: black;
  background: #eee;
  cursor: pointer;
  display: inline;
  font-weight: 200;
  margin: 10px 5px 0px 2px;
  padding: 10px;
  text-align: center;
  width: 10px;
}

.content .active {
  background: #871610;
  color: white;
}
