hr {
	border-top: 2px solid #ea0707 !important;
	color: red;
}
#about_table tr th{
	padding: 40px;
	border-bottom: 0.5px dashed red;
}
#about_table tr td{
	padding: 40px;
	color: white;
}
#about_table tr:hover{
	cursor: default !important;
  background-color: #FFFFFF !important;
}
.super {
	width: 500px;
	background-color: #A52A2A;
	text-align: center;
	padding: 4px 0px;
}
.first {
	background-color: #A52A2A;
	text-align: center;
}
.second {
	background-color: #008000;
	text-align: center;
}
.third {
	background-color: #800080;
	text-align: center;
}
.four {
	background-color: #808000;
	text-align: center;
}
.move {
	color: red;
	font-size: 25px;
}
.hover {
	/* background-color: #000000 !important; */
	background-image: url("/img/contact/contact_bg1.jpeg") !important;
	color: black !important;
}
