.from_price {
	width: 200px;
	float: left;
}
.to_price {
	width: 200px;
	float: left;
}
.content tbody .name {
	font: italic 1em Georgia, Times, serif;
	color: red;
}
.content table tr:hover{
  cursor: auto !important;
  background-color: white !important;
}
.product_lists h4 {
	/* background-color: #CFE1C0; */
	color: #FA5882;
}
.content ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.content li {
  border-radius: 3px;
  color: black;
  background: #eee;
  cursor: pointer;
  display: inline;
  font-weight: 200;
  margin: 10px 5px 0px 2px;
  padding: 10px;
  text-align: center;
  width: 10px;
}

.content .active {
  background: #871610;
  color: white;
}
