.content {
	padding: 0 200px;
}
.content hr {
	border-bottom: 1px solid;
}
.action {
	padding: 0 27%;
	margin-bottom: 50px;
}
.action .products {
	padding: 20px 30px;
	margin-right: 16%;
}
.action .orders {
	padding: 20px 36px
}
.action .products a {
	text-decoration: none;
	color: white;
}
.action .orders a {
	text-decoration: none;
	color: white;
}
.content table {
	width: 100%;
}
.content table tr th{
	text-align: center;
	padding: 10px;
	color: white;
	background-color: #336699;
}
