.content {
	padding: 0 200px;
}
.content hr {
	border-bottom: 1px solid;
}
.action {
	padding: 0 27%;
	margin-bottom: 50px;
}
.action .products {
	padding: 20px 30px;
	margin-right: 16%;
}
.action .orders {
	padding: 20px 36px
}
.action .products a {
	text-decoration: none;
	color: white;
}
.action .orders a {
	text-decoration: none;
	color: white;
}
.content table {
	width: 100%;
}
.content table tr th{
	text-align: center;
	padding: 10px;
	color: white;
	background-color: #336699;
}

.content ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.content li {
  border-radius: 3px;
  color: black;
  background: #eee;
  cursor: pointer;
  display: inline;
  font-weight: 200;
  margin: 10px 5px 0px 2px;
  padding: 10px;
  text-align: center;
  width: 10px;
}

.content .active {
  background: #871610;
  color: white;
}
